body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
nav{
  background: white;
}
.navbar-toggler-icon{
    color: black;
}
.logo{
    height: 65px;
    margin-left: 10px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
 
.fa-phone{
    transform: rotate(85deg);
}
.calls{
    color: rgb(137, 211, 27);
}
.calls:hover{
    color: rgb(100, 156, 16);
    cursor: pointer;
}
.navuls{
    margin-left: 5px;
    margin-right: 5px;
    top: 0%;
}
.navlis{
    color: black;
    position: relative;
}
.navlis:hover{
    color: rgb(137, 211, 27);
}
.navlis:focus{
    color: rgb(137, 211, 27);
}
.navlis:hover::before{
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    width: 80%;
    height: 3px;
    background: rgb(137, 211, 27);
    
}
.navlis:focus::before{
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    width: 80%;
    height: 3px;
    background: rgb(137, 211, 27);
}


/* landing page */

.landing{
    width: 100%;
    height: 88vh;
    background: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
}
.banner{
    background: rgb(241,127,83);
    background: linear-gradient(59deg, rgba(241,127,83,1) 15%, rgba(220,193,108,1) 26%,
  rgba(169,226,113,1) 60%, rgba(153,214,129,1) 64%, rgba(139,203,143,1) 67%, 
  rgba(129,196,152,1) 70%, rgba(118,188,163,1) 72%, rgba(95,171,184,1) 76%, 
  rgba(95,171,184,1) 77%, rgba(84,156,179,1) 84%, rgba(25,99,154,1) 100%);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: .7;
}
.overlay-text{
    position: absolute;
    right: 15%;
    top: 20%;
}
.over-btn button{
    color: white;
    background: rgb(7, 44, 112);
    width: 95%;
    border: none;
    outline: none;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}
.over-btn button:hover{
   background: navy;
}


/* section1 */
.section1{
    padding-bottom: 100px;
}
.sec1-head{
    font-size: 36px;
    opacity: .7;
}
.section1 .card{
    padding-bottom: 30px;
    transition: .5s ease;
}
.section1 .card:hover{
    transform: scale(1.08);
}
.fa-home{
    font-size: 65px;
    color: rgb(137, 211, 27);
}
.card-title{
    font-size: 20px;
}
.card-text{
    font-size: 14px;
    opacity: .8;
}
.fa-car{
    font-size: 65px;
    color: rgb(137, 211, 27);
}
.learn-btn{
    border: none;
    outline: none;
    color: white;
    background: rgb(5, 56, 151);
    font-size: 14px;
    padding: 10px 30px;
    margin-top: 5px;
    opacity: .8;
}
.learn-btn:hover{
    opacity: 1;
}
.card3{
    background: rgb(127, 194, 26);
    color: white;
}

/*section2*/
.section2{
    width: 100%;
    min-height: 100vh;
    background: url(images/about_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blog2{
    width: 100%;
    height: 100%;
    background: url(images/testi-bg.png);
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: .8;
}
.sec2-head{
    font-size: 30px;
}
.sec2-text{
    opacity: .8;
}
.sec2card{
    max-width: 348px;
    min-height: 340px;
    border: 1px dotted rgb(2, 2, 59);
    padding: 100px 35px 30px 35px;
    position: relative;
}
.sec2card1{
    margin: 10px 10px 0px 0px;
}
.sec2card2{
    margin: 10px 0px 0px 10px;
}
.sec2-card-text1{
    opacity: .5;
}
.padding-0{
    display: flex;
    justify-content: center;
}
.outer-circle{
    margin: auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 6px solid rgb(2, 30, 73);
    background: rgb(43, 87, 124);
    display: flex;
    align-items: center;
    position: absolute;
    top: -42px;
    left: 40%;
}
.inner-circle{
    margin: auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 5px solid white;
    background: transparent;
    text-align: center;
}
.inner-circle .fa-check{
    color: white;
    font-size: 32px;
    text-align: center;
    margin-left: 8px;
}
/* footer */
footer{
    margin-top: 50vh;
    position: relative;
    bottom: 0%;
}
.footer-one{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
}
.footer-social a{
  text-decoration: none;
  cursor: pointer;
}
.footer-text{
    display: flex;
    justify-content: center;
    position: relative;
}
.line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7::before{
    content: '';
    display: block;
    height: 14px;
    width: 1px;
    background: black;
    position: relative;
    top: 6px;
    margin-left: 5px;
    margin-right: 5px;
}
/* footer */



/*MOBILE RESPONSIVE*/
/* ipad pro */
 @media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait){
     .landing{
         height: 60vh;
     }
     .section2{
        min-height: 50vh;
         margin-bottom: 50px;
     }
 }
/* ipad */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .sec2card2{
        margin-top: 0px;
    }
    .section2{
        min-height: 65vh;
    }
}




/* responsive */
@media screen and (max-width: 991px) {
    .sec2card1{
        margin: 10px 0px 0px 0px;
    }
    .sec2card2{
        margin: 10px 0px 0px 0px;
    }
    .navlis:hover::before{
        content: "";
        display: block;
        position: absolute;
        top: -25px;
        width: 0;
        height: 0px;
        background: rgb(137, 211, 27);
        
    }
    .navlis:focus::before{
        content: "";
        display: block;
        position: absolute;
        top: -25px;
        width: 0;
        height: 0px;
        background: rgb(137, 211, 27);
    }
}
@media screen and (max-width: 767px) {
   
    .sec2card2{
        margin-top: 80px;
    }
    .section2{
       min-height: 155vh;
    }
}

@media screen and (max-width: 540px) {
    .section2{
        min-height: 160vh;
    }
    .footer-text{
        flex-direction: column;
    }
    .line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7::before{
    content: '';
    display: block;
    height: 0px;
    width: 0px;
    
    position: relative;
    top: 6px;
    margin-left: 5px;
    margin-right: 5px;
}
}
@media screen  and (max-width: 440px) {
    .overlay-img img{
        width: 200px;
        height: 200px;
    }
    .footer-one{
        flex-direction: column;
        justify-content: start;
        margin-left: 10px;
    }
}
@media  screen and (max-width: 350px) {
    .section2{
        min-height: 210vh;
    }
}
@media screen and (max-width: 311px) {
    .navbar-brand img{
        width: 100px;
    }
    .outer-circle{
        left: 30%;
    }
}
